.under-construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use the full height of the viewport */
    text-align: center;
}

.under-construction-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.under-construction-container img {
    width: 50%; /* Adjust based on your preference */
    max-width: 600px; /* Set a maximum width for the image */
    margin-bottom: 20px;
}

.under-construction-container p {
    font-size: 1.2rem;
    color: #666;
}
