.celeb-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.celeb-photo {
    width: 100%;
    height: auto;
    max-width: 200px; /* Adjust the size as needed */
    border-radius: 4px;
    margin-bottom: 10px;
}

.no-image {
    padding: 20px;
    background-color: #ccc;
    border-radius: 4px;
    font-style: italic;
}

.nickname {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

.bio {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.card-title-celeb{
    color: black;
}