.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #191919;
    height: 60px; /* Set the height of the navbar */
}

.logo {
    width: 100px; /* Set the width as desired */
    height: 40px; /* Set the height as desired */
}

.nav-item, .form-inline, .btn {
    margin: 0 5px; /* Adds spacing between navbar items */
}

#searchDropdownButton, #searchbar {
    border: 1px solid white; /* Makes the search elements more visible in a dark navbar */
}

#searchbar {
    width: 500px; /* Limits the width of the search bar */
    max-width: 600px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white; /* Ensures text is visible on a dark background */
}

#navbarDropdownMenuLink::after {
    content: none; /* Removes the default arrow */
}

.navbar-dark .dropdown-menu {
    background-color: #343a40; /* Matches the dropdown background to the navbar */
}

#menu-icon {
    margin: 0 5px;
}

.btn-outline-light, .btn-outline-primary, .btn-outline-success {
    margin: 0 5px; /* Ensures buttons are properly spaced */
}

#watchlist {
    width: 85px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 2px;
    color: white;
    background-color: #343a40;
    border-color: #343a40;
}

#watchlist-icon {
    margin: 0 5px;
}

#searchDropdownButton {
    color: #343a40;
    background-color: white;
    border-right: 1px solid #343a40;
}

.navbar-dark .dropdown-menu .dropdown-item {
    color: white; /* Sets the dropdown items text color to white */
    

}

.dropdown-menu-profile{
    color: #191919;
}

#search-btn {
    color: #343a40;
    background-color: white;
    margin-left: 0;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Takes up the remaining space to center content */
}

/* Styles for dropdown items on hover */
.navbar-dark .dropdown-menu .dropdown-item:hover {
    background-color: white; /* Sets the background to white */
    color: black; /* Sets the text color to black */
}

.search-results-dropdown {
    margin-top: 25px; /* Adjust this value to match the height of the navbar */
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    margin-left: 30px;
}

